.box {
    background-color: black;
    border: 1px solid #ccc; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    padding: 30px;
    margin-bottom: 40px; margin-left: 50px;
    border-radius: 10px;
    width: 200px;
    text-align: center;
  }
  
  .box:hover {
    transform: scale(1.01); 
  }
  
  .about-container-floor{
    height: 1080px;
    background-color: rgba(0, 0, 255, 0.1);
  }
  
  .about-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  
  }
  
  .about-container-title{
    margin-top: 100px; margin-bottom: 50px; margin-left: 50px;
    font-size: 30px; font-weight: bold;
  }
  
  