.background-section {
  color: white;
  width: 100vw;
  padding-top: 12vh;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.background-content {
  max-width: 800px;
  padding: 40px;
}

.background-content h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.background-content p {
  font-size: 16px;
  color: rgb(210, 210, 210);
}