.experiences-section {
    font-weight: normal;
    color: white;
    width: 100vw;
  }

  
  .experience-item {
    border: 1px solid rgb(50, 50, 50);
    padding: 10px;
    border-radius: 10px;
    width: 80vw;
    margin: 0 auto;
    margin-bottom: 5vh;
  }
  
  .experience-item h3 {
    font-size: 20px;
    height: 1vh;
  }
  
  .location {
    font-size: 14x;
    color: rgb(150, 150, 150);
  }
  
  .experience-item ul {
    font-size: 15px;
    padding: 0;
    list-style: none;
  }
  
  .experience-item li {
  }
  
  .experience-item a {
    color: #1e90ff;
    font-weight: bold;
    text-decoration: none;
  }
  
  .experience-item a:hover {
    color: #63b3ed;
  }
  