.box {
    border: 1px solid #66FCF1;
    color: #FFFFFF;
    cursor: pointer;
    padding: 30px; margin: 0 auto; margin-top: 50px; margin-bottom: 50px;
    border-radius: 10px;
    width: 350px;
    text-align: center;
}

.box:hover {
    transform: scale(1.01); 
}       


.experiences-container-floor{
    min-height: 100vh;
    color: #FFFFFF;
}


.experiences-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.experiences-container-title{
    margin-top: 50px; margin-bottom: 50px; margin-left: 50px;
    font-size: 30px; font-weight: bold;
}

t{
    font-weight: bold;
    color: #FFFFFF;
}


.geolabs-img{   
    display: flex;
    margin: 0 auto;
    width: 1000px;
}

.geolabs-description, .nsf-description, .la-description{
    display: flex;
    margin: 0 auto;
    width: 80%;
    color: #C5C6C7;
    margin-bottom: 50px;
}