.experiences-section {
  color: white;
  width: 100vw;
  padding-top: 12vh; /* Prevent overlap from header */
}

/* Skills section */
.skills-container {
  font-weight: bold;
  margin-bottom: 5vh;
  display: flex;
  justify-content: center;
  width: 100vw;
  gap: 5vw;
  flex-wrap: wrap;
}

.skills-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 250px;
}

.skills-category {
  width: 100%;
  margin-bottom: 20px;
}

.skills-category h2 {
  font-size: 15px;
  color: white;
  text-align: left;
}

.skills-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5vw;
}

.skill-bubble {
  padding: 5px 10px;
  background-color: white;
  color: black;
  border-radius: 25px;
  font-size: 10px;
  transition: transform 0.2s, background-color 0.2s;
}

.skill-bubble:hover {
  transform: scale(1.05);
  background-color: #ddd;
}

/* Experience section */
.experience-item {
  border: 1px solid rgb(50, 50, 50);
  padding: 2vh 2vw;
  border-radius: 10px;
  width: 80vw;
  margin: 0 auto;
  margin-bottom: 5vh;
}

.experience-item h3 {
  font-size: 20px;
  height: 1vh;
}

.location {
  font-size: 14px;
  color: rgb(150, 150, 150);
}

.experience-item ul {
  font-size: 15px;
  list-style: none;
  padding: 0;
}

.experience-item li {
  margin-bottom: 5px;
}

.experience-item a {
  color: #1e90ff;
  font-weight: bold;
  text-decoration: none;
}

.experience-item a:hover {
  color: #63b3ed;
}
