.box {
    background-color: black;
    border: 1px solid #ccc; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    padding: 30px;
    margin-bottom: 40px; margin-left: 50px;
    border-radius: 10px;
    width: 200px;
    text-align: center;
}

.box:hover {
    transform: scale(1.01); 
}       


.experiences-container-floor{
    min-height: 100vh;
}


.experiences-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;

}

.experiences-container-title{
    margin-top: 50px; margin-bottom: 50px; margin-left: 50px;
    font-size: 30px; font-weight: bold;
}