.goals-container-floor{
    color: #FFFFFF;
    min-height: 100vh;
}

.goals-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;

}

.goals-container-title{
    margin-top: 100px; margin-bottom: 50px; margin-left: 50px;
    font-size: 30px; font-weight: bold;
}
  