.skills-container {
    margin-top: 8vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100vw;
}
  
  .skills-category {
    margin-bottom: 2vh;
    margin-left: auto;
    margin-right: auto;
  }
  
  .skills-category h2 {
    font-size: 15px;
  }
  
  .skills-grid {
    display: flex;
    width: 40vw;
    gap: 2vw;
  }
  
  .skill-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    transition: transform 0.2s;
  }
  
  .skill-card:hover {
    transform: scale(1.1);
  }
  
  .skill-card p {
    font-size: 10px;
    color: rgb(210, 210, 210);
  }
  