
.first-floor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;

}

.top-container {
    background-color: rgba(0, 0, 255, 0.2);
    padding: 10px;
    display: flex;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; 
    padding: 15px 0; 
}

.name-container {
    display: flex;
    margin-left: 45px;
}

.icon-container {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: 25px;
}

.icon-container-style {
    margin-left: 25px;
    margin-right: 25px;
    cursor: pointer;
}

.icon-container-style:hover {
    transform: scale(1.1);
}


.taiki-img{
    opacity: 0.7;
    width: 350px; height: 400px;
    border-radius: 100%;
}


.intro-container {
    display: flex;
    flex-direction: row;
    margin: 0 auto; margin-top: 150px;
    text-align: center;
    gap: 150px;
    position: relative; 
}



.typing-container{
    margin-top: 90px;
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 55px;
}

.subtitle {
    font-size: 35px;
}

.description {
    font-size: 25px;
}

.typing, .subtitle.typing, .description.typing {
    white-space: nowrap; 
    overflow: hidden; 
    visibility: hidden;
    border-right: .15em solid white; /* Cursor */
    animation: typing 3.5s steps(30, end), blink-caret .75s step-end infinite;
    animation-fill-mode: forwards; /* Ensure the animation remains in its final state */
}

.subtitle.typing {
    animation: typing 3.5s steps(30, end) 3.5s, blink-caret .75s step-end infinite 3.5s;
}

.description.typing {
    animation: typing 3.5s steps(30, end) 7s, blink-caret .75s step-end infinite 7s;
}

.typing-done, .subtitle.typing-done, .description.typing-done {
    border-right: none; /* Remove the cursor */
    animation: none; /* Stop blinking */
    visibility: visible; /* Show text */
}

@keyframes typing {
    from { width: 0; visibility: visible; }
    to { width: 100%; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: white; }
}

.media-container{
    margin: 0 auto;
    margin-top: 50px;
}

.linkedin-img, .github-img{
    cursor: pointer;
    margin-left: 25px; margin-right: 25px;
    width: 60px;
    border-radius: 100%;
}

.linkedin-img:hover, .github-img:hover{ transform: scale(1.1); }


.contact-info{
    display: flex;
    margin: 0 auto; margin-top: 75px; margin-bottom: 200px;
    gap: 150px;
}

.contact-box{
    cursor: pointer;
    border-radius: 20px; padding: 15px;
    background-color: rgba(25, 0, 255, 0.2);
}

.contact-box:hover{
    transform: scale(1.1);
}
