/* Ensure elements don't cause overflow */
* {
  box-sizing: border-box;
}

/* Adjust .app-container */
.app-container {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #000000;
  color: white;
  font-size: 20px;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 100%; /* Change from 1920px to 100% for responsiveness */
  overflow-x: hidden; /* Hide any overflow on the x-axis */
  padding: 0 20px; /* Add padding to prevent content from touching the edges */
  margin: 0 auto; /* Center the app-container */
}


/* Rest of your styles */
.top-container {
  border-bottom: white 1px solid;
  display: flex;
  margin: 0 auto;
  z-index: 1000;
  padding: 15px;
  width: 100vw;
}

.split-container{
  display: flex;
  margin: 0 auto; margin-top: 120px;

}

.tech-gif{
  background-color: white;
  width: 550px; height: 420px;
}

.name-container {
  padding: 10px;
  display: flex;
  margin-left: 50px;
}

.icon-container {
  padding: 10px;
  display: flex;
  flex-direction: row;
  margin-left: auto; margin-right: 50px;
}

.icon-container-style {
  margin-left: 25px;
  margin-right: 25px;
  cursor: pointer;
}

.icon-container-style:hover {
  transform: scale(1.1);
}

.intro-container {
  margin: 0 auto;
  text-align: center;
  margin-top: 150px;
}

.title {
  font-size: 35px;
}

.subtitle {
  font-size: 25px;
}

.description {
  font-size: 17px;
}

.typing, .subtitle.typing, .description.typing {
  white-space: nowrap;
  overflow: hidden;
  visibility: hidden;
  border-right: .1em solid white;
  animation: typing 3.5s steps(30, end), blink-caret .75s step-end infinite;
  animation-fill-mode: forwards;
}

.subtitle.typing {
  animation: typing 3.5s steps(30, end) 3.5s, blink-caret .75s step-end infinite 3.5s;
}

.description.typing {
  animation: typing 3.5s steps(30, end) 7s, blink-caret .75s step-end infinite 7s;
}

.typing-done, .subtitle.typing-done, .description.typing-done {
  border-right: none;
  animation: none;
  visibility: visible;
}

@keyframes typing {
  from { width: 0; visibility: visible; }
  to { width: 100%; }
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: white; }
}

.media-container {
  margin: 0 auto;
  margin-top: 40px;
  display: flex;
  gap: 30px;
  margin-bottom: 450px;
  justify-content: center;
}

.resume-button, .linkedin-button, .github-button {
  font-size: 18px;
  border-bottom: 1px solid white;
  cursor: pointer;
  padding: 5px; 
}

.resume-button:hover, .linkedin-button:hover, .github-button:hover {
  transform: scale(1.1);
}

.dinosaur-container {
  position: relative;
  width: 100%;
  height: 520px;
  margin-top: 50px;
}

.dinosaur-container img {
  cursor: pointer;
  display: block;
  margin-left: auto;
  width: 70px;
  position: absolute;
  animation: moveAndFlip 30s linear infinite;
}

.counter-text {
  position: absolute;
  left: 50px;
  font-size: 10px;
  font-weight: bold;
  animation: moveCounter 30s linear infinite;
  margin-left: 30px;
  margin-top: 85px;
}

@keyframes moveAndFlip {
  0%, 25% {
    left: 100px;
    transform: scaleX(-1);
  }
  50% {
    left: calc(100% - 200px);
    transform: scaleX(-1);
  }
  50.01%, 75% {
    left: calc(100% - 200px);
    transform: scaleX(1);
  }
  100% {
    left: 100px;
    transform: scaleX(1);
  }
}

@keyframes moveCounter {
  0%, 25% {
    left: 100px;
  }
  50% {
    left: calc(100% - 200px);
  }
  50.01%, 75% {
    left: calc(100% - 200px);
  }
  100% {
    left: 100px;
  }
}

.box {
  background-color: black;
  border: 1px solid #ccc;
  cursor: pointer;
  padding: 30px;
  margin-bottom: 40px;
  margin-top: 30px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 95%;
  text-align: center;
}

.box:hover {
  transform: scale(1.01);
}

.projects-master-container {
  width: 100%;
  background-color: rgba(0, 0, 255, 0.2);
  height: 850px;
}

.goals-master-container {
  width: 100%;
  background-color: black;
  height: 850px;
}

.projects-container,
.goals-container,
.explorations-container {
  margin-top: 50px;
  margin-right: auto;
  margin-left: 50px;
}

footer {
  display: flex;
  margin-top: auto;
  margin-bottom: 20px;
  margin-left: 50px;
  margin-top: 100px;
}
