html {
  --section-background-color: linear-gradient(
    to bottom left,
    rgba(17, 16, 16, 0.582),
    rgba(12, 8, 24, 0.904)
  );

  --image-gradient: linear-gradient(
    to bottom left,
    rgba(17, 16, 16, 0.678),
    rgba(12, 10, 22, 0.863)
  );

  --imp-text-color: #7470f0;
}

.app-container {
  font-family: sans-serif;
  color: #C5C6C7;
  background-image: var(--image-gradient), url(home-bg.jpg);
  background-size: cover;
  font-size: 20px; 
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.top-container {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 30px auto;
  z-index: 1; 
  padding: 10px; 
}

.contact-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 40px;
  gap: 40px;
}

.phone, .email {
  margin-top: 4px;
}

.icon-container {
  display: flex;
  flex-direction: row;
  margin-left: auto; 
  margin-right: 50px; 
  margin-top: 4px;
  flex-wrap: wrap; 
}

.icon-container-style {
  color: #C5C6C7;
  cursor: pointer;
  text-decoration: none;
  margin-left: 40px;
}

.icon-container-style:hover {
  transform: scale(1.1);
}

.dinosaur-container {
  margin-top: 50px;
  position: relative;
  height: 100px;
}

.dinosaur-container img {
  cursor: pointer;
  display: block;
  margin-left: auto;
  width: 70px;
  position: absolute;
  animation: moveAndFlip 30s linear infinite;
}

.counter-text {
  position: absolute;
  top: 80px; 
  left: 50px; 
  font-size: 10px; 
  font-weight: bold;
  animation: moveCounter 30s linear infinite;
  margin-left: 34px;
}

@keyframes moveAndFlip {
  0%, 25% {
    left: 200px;
    transform: scaleX(-1);
  }
  50% {
    left: calc(100% - 300px);
    transform: scaleX(-1);
  }
  50.01%, 75% {
    left: calc(100% - 300px);
    transform: scaleX(1);
  }
  100% {
    left: 200px;
    transform: scaleX(1);
  }
}

@keyframes moveCounter {
  0%, 25% {
    left: 200px;
  }
  50% {
    left: calc(100% - 300px);
  }
  50.01%, 75% {
    left: calc(100% - 300px);
  }
  100% {
    left: 200px;
  }
}

footer {
  display: flex;
  margin-top: auto;
  margin-bottom: 20px;
  margin-left: 50px;
  margin-top: 100px;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .top-container {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .contact-container, .icon-container {
    margin-left: 0;
    margin-right: 0;
    justify-content: center;
  }

  .icon-container-style {
    margin: 10px 5px;
  }
}
