html{
  color: white;
  font-weight: bold;
  background-color: black;
}

/* App container */
.app-container {
  background-color: rgb(10, 10, 10);
  font-size: 17px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-size: 200%;
  overflow: hidden; 
}

.top-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: black;
  border-bottom: 1px solid rgb(80, 80, 80);
  display: flex;
  flex-wrap: wrap;
  padding-top: 2vh;
  z-index: 1000;
}



.contact-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 5vw;
  margin-bottom: 2vh;
}


.icon-home-style{
  color: rgb(240, 240, 240);
  cursor: pointer;
  text-decoration: none;
}

.icon-home-style:hover {
  transform: scale(1.1);
  color: white;
}


.icon-container {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: 5vw;
  margin-bottom: 2vh;
  flex-wrap: wrap;

}


.icon-container-style {
  color: rgb(210, 210, 210);
  cursor: pointer;
  text-decoration: none;
  margin-left: 2vw;
}

.icon-container-style:hover {
  transform: scale(1.1);
  color: white;
}


.dinosaur-container img {
  cursor: pointer;
  display: block;
  margin-left: auto;
  width: 70px;
  position: absolute;
  animation: moveAndFlip 30s linear infinite;
}

.counter-text {
  position: absolute;
  top: 80px;
  left: 50px;
  font-size: 10px;
  font-weight: bold;
  animation: moveCounter 30s linear infinite;
  margin-left: 34px;
}

/* Keyframes for animations */
@keyframes moveAndFlip {
  0%,
  25% {
    left: 200px;
    transform: scaleX(-1);
  }
  50% {
    left: calc(100% - 300px);
    transform: scaleX(-1);
  }
  50.01%,
  75% {
    left: calc(100% - 300px);
    transform: scaleX(1);
  }
  100% {
    left: 200px;
    transform: scaleX(1);
  }
}

@keyframes moveCounter {
  0%,
  25% {
    left: 200px;
  }
  50% {
    left: calc(100% - 300px);
  }
  50.01%,
  75% {
    left: calc(100% - 300px);
  }
  100% {
    left: 200px;
  }
}

footer {
  background-color: black;
  font-size: 14px;
  color: rgb(200, 200, 200);
  text-align: center;
  border-top: 1px solid rgb(50, 50, 50);
  padding: 2vh 0;
  width: 100vw;
}
