/* Ensure elements don't cause overflow */
* {
  box-sizing: border-box;
}

/* Adjust .app-container */
.app-container {
  min-width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.first-floor {
  background-color: black;
  width: 100vw;
  height: 900px;
}

.top-container {
  display: flex;
  margin: 0 auto;
  z-index: 1000;
  padding: 15px;
  width: 100%;
}

.name-container {
  padding: 10px;
  display: flex;
  margin-left: 50px;
}

.icon-container {
  padding: 10px;
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: 50px; margin-top: 3px;
}

.icon-container-style {
  margin-left: 25px;
  margin-right: 25px;
  cursor: pointer;
}

.icon-container-style:hover {
  transform: scale(1.1);
}

.intro-container {
  width: 90%; /* Changed to a percentage */
  max-width: 300px; /* Optional max-width */
  margin: 0 auto;
  margin-top: 250px;
  text-align: center;
}

.title {
  font-size: 35px; margin-bottom: 2px;
}

.subtitle {
  font-size: 25px; margin-bottom: 10px;
}

.description {
  font-size: 17px;
}

.typing, .subtitle.typing, .description.typing {
  white-space: nowrap;
  overflow: hidden;
  visibility: hidden;
  border-right: .1em solid white;
  animation: typing 3.5s steps(30, end), blink-caret .75s step-end infinite;
  animation-fill-mode: forwards;
}

.subtitle.typing {
  animation: typing 3.5s steps(30, end) 3.5s, blink-caret .75s step-end infinite 3.5s;
}

.description.typing {
  animation: typing 3.5s steps(30, end) 7s, blink-caret .75s step-end infinite 7s;
}

.typing-done, .subtitle.typing-done, .description.typing-done {
  border-right: none;
  animation: none;
  visibility: visible;
}

@keyframes typing {
  from {
    width: 0;
    visibility: visible;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}

.media-container {
  margin: 0 auto;
  margin-top: 60px;
  display: flex;
  gap: 100px; /* Reduced gap */
  margin-bottom: 450px;
  justify-content: center;
}

.resume-button, .linkedin-button, .github-button {
  font-size: 18px;
  cursor: pointer;
  padding: 7px;
  border-radius: 5px;

}

.resume-button:hover, .linkedin-button:hover, .github-button:hover {
  transform: scale(1.1);
}

.dinosaur-container {
  position: relative;
  width: 100%;
  height: 520px;
  margin-top: 50px;
}

.dinosaur-container img {
  cursor: pointer;
  display: block;
  margin-left: auto;
  width: 70px;
  position: absolute;
  animation: moveAndFlip 30s linear infinite;
}

.counter-text {
  position: absolute;
  left: 50px;
  font-size: 10px;
  font-weight: bold;
  animation: moveCounter 30s linear infinite;
  margin-left: 30px;
  margin-top: 85px;
}

@keyframes moveAndFlip {
  0%,
  25% {
    left: 100px;
    transform: scaleX(-1);
  }
  50% {
    left: calc(100% - 200px);
    transform: scaleX(-1);
  }
  50.01%,
  75% {
    left: calc(100% - 200px);
    transform: scaleX(1);
  }
  100% {
    left: 100px;
    transform: scaleX(1);
  }
}

@keyframes moveCounter {
  0%,
  25% {
    left: 100px;
  }
  50% {
    left: calc(100% - 200px);
  }
  50.01%,
  75% {
    left: calc(100% - 200px);
  }
  100% {
    left: 100px;
  }
}

.box {
  background-color: black;
  border: 1px solid #ccc;
  cursor: pointer;
  padding: 30px;
  margin-bottom: 40px;
  margin-top: 30px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 95%;
  text-align: center;
}

.box:hover {
  transform: scale(1.01);
}

.projects-master-container {
  width: 100vw;
  background-color: rgba(0, 0, 255, 0.2);
  height: 850px;
}

.goals-master-container {
  background-color: black;
  height: 850px;
}

.projects-container,
.goals-container,
.explorations-container {
  margin-top: 50px;
}

footer {
  display: flex;
  margin-top: auto;
  margin-bottom: 20px;
  margin-left: 50px;
  margin-top: 100px;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .intro-container {
    width: 80%; /* Adjust width for smaller screens */
  }

  .media-container {
    gap: 20px; /* Adjust gap for smaller screens */
  }

  .icon-container {
    flex-direction: column;
    align-items: flex-end; /* Adjust alignment for smaller screens */
  }
}
